.App {
  text-align: center;
}
input{
  width: 250px;
  border: none;
  background-color: rgb(231, 228, 228);
  height: 30px;
  border-radius: 12px;
  text-align: center;
}
#btn{
  padding: 10px 15px;
  margin-left: 12px;
  border-radius: 12px;
  border: none;
  background-color: rgb(96, 96, 234);
}